<a href="https://colab.research.google.com/github/Hoda-Shad/Image-Processing/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#7

In [25]:
import math

In [28]:
a = int ( input ("Enter your first number"))
b = int ( input ("Enter your second number"))

Enter your first number26
Enter your second number22

In [30]:
op = input("Enter your desired operator")

Enter your desired operatorsin

In [32]:
if op == "+" :
       result = a+b 
if op == "-":
       result = a-b
if op == "*":
       result = a*b
if op =="/":
       result = a/b

In [33]:
c  = int (input("Bararye Tavabe mosallasati addad ra vared konid"))

Bararye Tavabe mosallasati add ra vared konid57

In [34]:
c = math.radians(c)

In [35]:
if op == "sin":
     result = math.sin(c)

In [36]:
if op == "cos":
     result = math.cos(c)

In [37]:
if op == "Radical":
     result = math.sqrt(c)

In [38]:
if op == "cot":
    result = math.cos(c)/math.sin(C)

In [39]:
if op == "tan":
    result = math.sin(c)/math.cos(C)

In [40]:
if op == "factorial":
     result = math.factorial(c)

In [41]:
print(result)

0.838670567945424

#8

In [45]:
a= int(input("azlae zele aval "))
b= int(input("azlae zele dovom "))
c= int(input("azlae zele sevvom "))

azlae zele aval 2
azlae zele dovom 3
azlae zele sevvom 4

In [48]:
if c <=a+b  and b< a+c  and a<b+c :
     print("successful")
else :
     print("The entire numberes cannot make a tringle")

successful

#9

In [53]:
weight = float (input("Enter your Weight in Kilogerams"))
height = float (input ("Enter your Height in Centemeters"))
BMI = weight / ((height /100)**2)
if BMI< 18.5: 
     result = "you are under the normal Weight"
if 18.5 <BMI<24.9 : 
     result = "yoohoo , You are in the normal range"
if 25<BMI<29.9:
     result = "you are getting overweight" 
if  30 <BMI<34.9 :
     result = "you are above the normal diagram"
if BMI>35 :
     result = "you are on the Emergency conditon"
print(result)

Enter your Weight in Kilogerams69
Enter your Height in Centemeters165
you are getting overweight

#10

In [56]:
name = input ("input your first name : ")
family = input ("input your family name :")
grade1  =float (input ("Enter you A1 number : "))
grade2  =float (input ("Enter you A2 number : "))
grade3  =float (input ("Enter you A3 number : "))
avg = (grade1 + grade2 +grade3 )/ 3
if avg >= 17 : 
     result = "Great"
elif  avg >= 12 and avg <17 :
     result = "Normal"
elif  avg <12:
     result = "Fail"
print(name , family , "your condition is " , result)

input your first name : Hoda
input your family name :Shad
Enter you A1 number : 12
Enter you A2 number : 10
Enter you A3 number : 10
Hoda Shad your condition is  Fail